@use './index.scss' as *;

.alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.alert {
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    min-width: 250px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.alert.hide {
    opacity: 0;
    transform: translateY(-20px);
}

.alert.success {
    background-color: #4caf50;
}

.alert.error {
    background-color: #f44336;
}

.alert.info {
    background-color: #2196f3;
}
