@use './index.scss' as *;

.alert{
  position: fixed;
  max-width: 500px;
  padding: 0 25px;
  height: 75px;
  background-color: var(--second-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}