@use './index.scss' as *;

header{
  div{
    display: flex;
    align-items: center;
  }

  a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--third-color);
  }

  h3{
    font-weight: normal;
    color: var(--third-color);
  }

  position: sticky;
  z-index: 99;

  top: 0;
  height: $header-height;
  padding: 0 16px;
  justify-content: space-between;
  background-color: var(--first-color);
  display: flex;
  box-shadow: #00000044 0px 0 16px;
}

// .header_left{

// }
.header_mid{
  gap: 25px;
}
.header_right{
  .theme-switch{
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .login{
    svg{
      width: 25px;
      height: 100%;
    }
    border-radius: 7px;
    gap: 5px;
    height: 55%;
    cursor: pointer;
    text-wrap: nowrap;
  }

  gap: 30px;
}